@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');

/* cabeçalho */
header {
  background-image: url('../img/fundo7.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: auto;
  height: auto;
  padding: 20px 0;
  /* Ajustar conforme necessário */
  margin: 0;
  overflow: hidden;
  /* Evita o colapso de margens */
  box-sizing: border-box;
}

.nav-link {
  color: white;
  font-weight: bold;

}

.custom-toggler {
  border-color: #d42c24;
  /* Cor da borda do botão */
}

.custom-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23d42c24' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


body {
  font-family: 'roboto', regular 400;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
}

/* section */
section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: auto;
  height: auto;
  padding: 20px 0;
  /* Ajustar conforme necessário */
  margin: 0;
  overflow: hidden;
  /* Evita o colapso de margens */
  box-sizing: border-box;
}

.section1 {
  background-color: #bc3823;

}

.section2 {
  background-color: #972517;

}

.section3 {
  background-color: #71130c;

}

/* fontes */
h1 {
  margin: 0;
  font-size: 70px;
  font-weight: bold;
  font-family: 'Orbitron', regular;
  color: #fbfdf1;
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  font-family: 'roboto', sans-serif;
  color: #fbfdf1;
  text-align: start;
}

p {
  margin: 20px 1.5;
  font-family: 'roboto', sans-serif;
  color: #fbfdf1;
  text-align: justify;
  text-justify: auto;

}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/* icones sociais */
#whatsapp {
  position: absolute;
  left: 450px;
  /* Ajuste o valor conforme necessário */
  top: 45px;
}

#instagram {
  position: absolute;
  left: 490px;
  /* Ajuste o valor conforme necessário */
  top: 45px;
}

.social-icons a {
  color: #b1b5b8;
  /* Cor verde do WhatsApp */
}

.social-icons a:hover {
  color: #fbfdf1;
  /* Cor alterada ao passar o mouse */
}


footer {
  background-image: url('../img/fundo8.jpg');
  position: unset;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #041726;
  font-family: 'roboto', sans-serif;
}

footer p {
  margin: 0;
  color: white;
  text-align: center;

}

footer a {
  color: white;
  text-decoration: none;
  font-family: 'roboto', sans-serif;
}

footer a p {
  text-align: justify;
  text-justify: auto;
}


/* mobile */

@media (max-width: 768px) {

  header {
    padding: 0px;
  }

  h1 {
    font-size: 30px;
  }

  .navbar-nav {
    margin-left: 0;
    text-align: center;
    width: 100%;
  }

  .navbar-nav .nav-item {
    width: 100%;
  }

  #menu {
    position: absolute;
    left: 300px;
    /* Ajuste o valor conforme necessário */
    top: 15px;
  }

  #whatsapp {
    position: absolute;
    left: 220px;
    /* Ajuste o valor conforme necessário */
    top: 20px;
  }

  #instagram {
    position: absolute;
    left: 260px;
    /* Ajuste o valor conforme necessário */
    top: 20px;
  }

  .whatsapp-icon {
    margin-right: 15px;
    /* Opcional: espaço adicional no mobile */
  }

  .instagran-icon {
    margin-right: 15px;
    /* Opcional: espaço adicional no mobile */
  }
  
}
/* ____________________________________________________________________________________________ */

.aviso {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #030b14;
  color: #d42c24;
  text-align: center;
  padding: 15px;
  display: block; /* Mostrar o aviso por padrão */
  z-index: 1000;
}

.aviso p {
  margin: 0;
  display: inline-block;
}

.aviso button {
  margin-left: 20px;
  background-color: #d42c24;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.aviso button:hover {
  background-color: #f96f68;
}

.link_cookie {
  color: #d42c24;
  text-decoration: none;
}

.link_cookie:hover {
  text-decoration: underline;
}

/* ___________________________________________________conteudo do site________________________________ */

span {
  margin: 1.5;
  font-weight: bold;
  font-family: 'Orbitron', regular;

}